<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<th:block th:insert="fragments/base :: header"></th:block>
	<title>検索結果</title>
</head>
<body th:data-search-param="${searchParam}">
	<div class="container mt-3">
		<div class="row">
			<th:block th:insert="fragments/sidebar :: sidebar"></th:block>

			<div class="col-lg-9 p-5 d-flex flex-column">
				<div class="d-flex mx-3 my-5">
					<form th:action="@{/search/articles}" method="get" class="flex-fill mr-3 action-articles-if">
						<button th:value="${searchParam}" name="param" class="w-100 btn btn-primary">記事</button>
					</form>
					<form th:action="@{/search/users}" method="get" class="flex-fill action-users-if">
						<button th:value="${searchParam}" name="param" class="w-100 btn btn-primary">アカウント</button>
					</form>
				</div>
				<div class="px-3 mb-5">
					<div id="search-articles-list" class="border border-bottom-0 border-secondary">
						<div th:each="articles:${articles}" th:object="${articles}"
							 class="border-bottom border-secondary">
							 <div class="position-relative">
								<a th:href="(${loginUser} == ${otherUser}) ? @{/oneArticle/{id}(id=*{id})} : @{/oneArticle/{id}/{userId}(id=*{id},userId=${otherUser.id})}"
									class="d-block position-absolute w-100 h-100"></a>
								<div class="p-3">
									<h3 th:text="*{title}"></h3>
									<div class="text-break" th:text="${#strings.abbreviate(articles.content,100)}"></div>
								</div>
							 </div>
						</div>
					</div>
				</div>
				<button th:if="${page.totalPages > 1}" id="more" th:data-total-pages="${page.totalPages}"
					data-i="1" class="btn btn-dark">
					もっと見る
				</button>
			</div>
		</div>
	</div>
	<th:block th:insert="fragments/base :: scripts"></th:block>
	<script th:src="@{/script/search-articles-script.js}" ></script>
	<script th:inline="javascript">
	$(function() {
		
		let loginUserId = /*[[${loginUser.id}]]*/'';
	  let otherUserId = /*[[${otherUser.id}]]*/'';
	  let otherUserDisplayName = /*[[${otherUser.displayName}]]*/'';

	  if(loginUserId != otherUserId) {
	    $('.action-articles-if').attr('action', '/search/articles/' + otherUserId);
	    $('.action-users-if').attr('action', '/search/users/' + otherUserId);
	  };
	});
	</script>
</body>
</html>