<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
</head>
<body>
	<th:block th:fragment="sidebar">
		<div class="col-lg-3 p-3">
			<div class="sidebar-fixed">
				<div class="wrapper">
					<div class="mb-3 icon">
						<img th:if="${user.icon != null}" alt="プロフィール画像" th:src="@{/show/icon}" class="w-100 h-100 rounded-circle object-fit">
						<div th:if="${user.icon == null}" class="d-flex align-items-center h-100">
							<span  class="w-100 text-center">
								<i class="fas fa-user-circle fa-10x"></i>
							</span>
						</div>
					</div>
				</div>
				<h2 class="mb-4 text-center" th:text="${user.displayName}"></h2>
				<div class="mb-4 text-center">
					<a th:href="@{/user_management/edit}">
						<button class="btn btn-lg btn-primary rounded-pill">
							プロフィール編集
						</button>
					</a>
				</div>
				<div class="mx-3 mb-4 text-center">
					<form th:action="@{/search/articles}" method="get" class="input-group">
						<input type="search" name="param" placeholder="キーワード検索" class="form-control">
						<button id="search-btn" class="input-group-text">
							<i class="fas fa-search"></i>
						</button>
					</form>
				</div>
				<div class="pb-5">
						<ul class="nav flex-column">
							<li class="nav-item">
								<a class="nav-link d-inline-block" th:href="@{/}">ホーム</a>
							</li>
							<li class="nav-item">
								<a class="nav-link d-inline-block" th:href="@{/past}">過去記事</a>
							</li>
							<li class="nav-item">
								<a class="nav-link d-inline-block" th:href="@{/like}">いいね</a>
							</li>
							<li class="nav-item">
								<a class="nav-link d-inline-block" th:href="@{/bookmark}">ブックマーク</a>
							</li>
							<li class="nav-item mt-2">
								<a class="nav-link d-inline-block" th:href="@{/logout}">ログアウト</a>
							</li>
						</ul>
				</div>
				<div class="mt-5 pt-5 text-center">
					<a href="#">
							<i class="fas fa-chevron-up"></i>
							<br>
							<span>ページTOPへ</span>
					</a>
				</div>
			</div>
		</div>
	</th:block>
</body>
</html>