<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
</head>
<body>
	<th:block th:fragment="sidebar">
		<div th:object="${user}">
			<div><img alt="プロフィール画像" th:src="*{icon}"></div>
			<div th:text="*{displayName}"></div>
			<div>
			<a th:href="@{/user_management/edit}">
				<button>
					プロフィール編集
				</button>
			</a>
			</div>
		</div>
		<div>
		<form th:action="@{/search}" method="get">
			<input type="search" name="param" placeholder="キーワード検索">
		</form>
		</div>
		<div>
			<ul>
				<li>
					<a th:href="@{/}">
						ホーム
					</a>
				</li>
				<li>
					<a th:href="@{/past}">
						過去記事
					</a>
				</li>
				<li>
					<a th:href="@{/follow}">
						フォロー
					</a>
				</li>
				<li>
					<a th:href="@{/like}">
						いいね
					</a>
				</li>
				<li>
					<a th:href="@{/bookmark}">
						ブックマーク
					</a>
				</li>
			</ul>
		</div>
	</th:block>
</body>
</html>