@charset "UTF-8";

.btn-register {
	width: 40%;
	margin: 1rem;
}

.header-size {
	background-color: #F5F5F5;
	height: 300px;
}

.cover {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.25);
	z-index: 1;
	display: none;
	position: fixed;
}

.modal {
	width: 500px;
	height: 500px;
	background: rgba(255,255,255, 1);
	z-index: 3;
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.article-form {
	width: 80%;
	height: 90%;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.article-form div {
	margin: 20px auto;
}

textarea.article-form-content {
	min-height: 20em;
}

.sidebar-fixed {
	position: sticky;
	top: 60px;
}

.fixed {
	position: fixed;
	bottom: 10%;
	right: 10%;
}

.profile-min-height{
	min-height: 5em;
}

.object-fit {
	object-fit: cover;
}

.wrapper {
    position: relative;
    width: 100%;
}

.wrapper:before {
    content:"";
    display: block;
    padding-top: 100%;
}

.icon {
	position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}