<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<th:block th:insert="fragments/base :: header"></th:block>
</head>
<body>
	<div class="container">
		<div class="row justify-content-center">
			<header>
				<div style="width:100%;">
					<img alt="ヘッダーイメージ" src="C:/Users/love_/Pictures/Picture/tiwtter-header-image_1.jpg">
				</div>
			</header>
		
		<div class="container">
			<div>
				<th:block th:insert="fragments/sidebar :: sidebar"></th:block>
			</div>
			<div>
				<div>
					
				</div>
			</div>
			</div>
		</div>
	</div>
</body>
</html>