<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<th:block th:insert="fragments/base :: header"></th:block>
	<title>ホーム</title>
</head>
<body th:data-user-id="${user.id}">
	<div id="submit-cover" class="cover"></div>
	<div id="submit-modal" class="modal">
		<form class="form-group article-form">
			<div>
				<input id="submit-title" class="form-control" type="text" name="title" placeholder="タイトル">
			</div>
			<div>
				<textarea id="submit-content" class="form-control article-form-content" name="content" placeholder="内容"></textarea>
			</div>
			<div class="d-flex justify-content-end">
				<input id="submit-btn" type="button" class="btn btn-primary" th:data-submitter="${user.id}" value="投稿">
			</div>
		</form>
	</div>
	<div id="edit-cover" class="cover"></div>
	<div id="edit-modal" class="modal">
		<form class="form-group article-form">
			<div>
				<input id="edit-title" class="form-control article-form-title" type="text" name="title" placeholder="タイトル">
			</div>
			<div>
				<textarea id="edit-content" class="form-control article-form-content" name="content" placeholder="内容"></textarea>
			</div>
			<input id="edit-btn" type="button" value="投稿">
		</form>
	</div>

	<header class="header-size bg-dark">
		<img th:if="${user.headerImage != null}" alt="ヘッダー画像" th:src="@{/show/headerImage}">
	</header>

	<div class="container">
		<div class="row">
			<th:block th:insert="fragments/sidebar :: sidebar"></th:block>

			<div class="col-lg-9 p-5 d-flex flex-column">
				<div class="mb-5 border-bottom d-flex flex-column" th:object="${user}">
					<div class="p-2 profile-min-height" th:text="*{profile}"></div>
					<div class="p-2" th:text="*{link}"></div>
				</div>
				<p class="likestate"></p>
				<div id="articles"></div>
			</div>
		</div>
	</div>
	<div class="fixed">
		<button id="create" class="btn btn-lg btn-primary rounded-pill">記事作成</button>
	</div>
	
	<th:block th:insert="fragments/base :: scripts"></th:block>
</body>
</html>