<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<th:block th:insert="fragments/base :: header"></th:block>
	<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
	<!-- <script th:src="@{/js/script.js}" defer></script> -->
	<script>
	$(function(){
		$.getJSON("http://localhost:8080/article/1", function(results) {
			$('.title').append(results.title);
			$('.content').append(results.content);
		});
	});
	</script>
	<title>ホーム</title>
</head>
<body>
	<div id="submit-cover" class="cover"></div>
	<div id="submit-modal" class="modal">
		<form class="article-form">
			<div>
				<input id="submit-title" class="width" type="text" name="title" placeholder="タイトル">
			</div>
			<div>
				<textarea id="submit-content" class="width height" name="content" placeholder="内容"></textarea>
			</div>
			<input id="submit-btn" type="button" value="投稿">
		</form>
	</div>
	<div id="edit-cover" class="cover"></div>
	<div id="edit-modal" class="modal">
		<form class="article-form">
			<div>
				<input id="edit-title" class="width" type="text" name="title" placeholder="タイトル">
			</div>
			<div>
				<textarea id="edit-content" class="width height" name="content" placeholder="内容"></textarea>
			</div>
			<input id="edit-btn" type="button" value="投稿">
		</form>
	</div>
	<div class="container">
		<div class="row justify-content-center">
			<header>
				<div>
					<img alt="ヘッダー画像" th:src="@{user.headerImage}">
				</div>
			</header>
		
			<div class="container">
				<div>
					<th:block th:insert="fragments/sidebar :: sidebar"></th:block>
				</div>
				<div>
					<div th:object="${user}">
						<div th:text="*{profile}"></div>
						<div th:text="*{link}"></div>
					</div>
					<div id="articles">
						<div class="title"></div>
						<div class="content"></div>
						<button class="edit">編集</button>
						<button class="delete">削除</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<button class="create">記事作成</button>

	<script type="text/javascript">
		$(function() {
			$('.create').click(function() {
				$('#submit-cover, #submit-modal').fadeIn(200);
			});
			
			$('#submit-cover').click(function() {
				$('#submit-cover, #submit-modal').fadeOut(200);
			});
		});
		
		$(function() {
			$('#submit-btn').click(function() {
				
				let data = {
						title: $('#submit-title').val(),
						content: $('#submit-content').val()
				}
				
				$.ajax({
					url:'http://localhost:8080/article',
					type: 'POST',
					data: JSON.stringify(data),
					dataType: 'json',
					contentType: 'application/json'
				})
				/* .done(function(data) {
					$('#articles').each(function() {
						$('#articles').append(
							$('<li></li>').append(
								$('<div></div>').attr(
									$('class', 'title')
								)
								.text($('title', this).text()),
								$('<div></div>').attr(
									$('class', 'content')
								)
								.text($('content' ,this).text())
							)
						);
					});
				}) */
				.fail(function() {
					window.alert('正しい結果を得られませんでした。');
				});
			});
		});
		
		$(function() {
			$('.edit').click(function() {
				$('#edit-cover, #edit-modal').fadeTo(200, 1);
				$('#edit-title').attr('value', $('.title').text());
				$('#edit-content').text($('.content').text());
			});
			
			$('#edit-cover').click(function() {
				$('#edit-cover, #edit-modal').fadeTo(200, 0).fadeOut(1000);
			});
		});
			
		$(function() {
			$('#edit-btn').click(function() {
				
				let data = {
					title: $('#edit-title').val(),
					content: $('#edit-content').val()
				}
				
				$.ajax({
					url:'http://localhost:8080/article/1',
					type: 'PUT',
					data: JSON.stringify(data),
					dataType: 'json',
					contentType: 'application/json'
				});
			})
		});
		
		$(function() {
			$('.delete').click(function() {
				if(confirm('削除しますか？')) {
					$.ajax({
						url: 'http://localhost:8080/article/1',
						type: 'DELETE'
					});
				}
			});
		});
	</script>
	<th:block th:insert="fragments/base :: scripts"></th:block>
</body>
</html>