<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8">
	<th:block th:insert="fragments/base :: header"></th:block>
	<title>プロフィール編集</title>
</head>
<body>
	<div class="container mt-3">
		<div class="row">
			<th:block th:insert="fragments/sidebar :: sidebar"></th:block>
			<div class="col-lg-9 p-5 form-group">
				<form class="form-group" th:action="@{/user_management/update}"
					th:object="${userUpdateForm}" method="post" enctype="multipart/form-data">
					<div class="mb-3">
						<label for="icon" class="form-label">ユーザーアイコン</label>
						<input class="form-control-file" type="file" th:field="*{icon}">
					</div>
					<div class="mb-5">
						<label for="headerImage" class="form-label">ヘッダー画像</label>
						<input class="form-control-file" type="file" th:field="*{headerImage}">
					</div>
					<div class="mb-3">
						<label for="displayName">名前</label>
						<input class="form-control" type="text"
						th:errorclass="is-invalid" th:field="*{displayName}">
						<div class="invalid-feedback" th:errors="*{displayName}"></div>
					</div>
					<div class="mb-3">
						<label for="profile">自己紹介</label>
	    			<textarea class="form-control" th:field="*{profile}" rows="3"></textarea>
						<div class="invalid-feedback" th:errors="*{profile}"></div>
					</div>
					<div class="mb-5">
						<label for="link">リンク</label>
						<input class="form-control" type="text"
						th:errorclass="is-invalid" th:field="*{link}">
						<div class="invalid-feedback" th:errors="*{link}"></div>
					</div>
					<div class="d-flex justify-content-end">
						<button class="btn btn-primary w-25">保存</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>